/* .row {
    background-color:rgb(234, 211, 218) ; */


}

.footer {
    background-color: rgb(219, 42, 175);
}

.button1
{padding: 10px 24px};

/* .quantity-box {
    background-color: rgb(234, 211, 218);
} */