{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body  style="background:lightgreen">
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-light"> <h1>Explore Andaman Nicobar</h1></div>
          </div>

    <!-- <div class="col-9">
  <h1>Explore Rajasthan</h1>
</div> -->

  <br>
  <h3>Andaman and Nicobar Islands are famous for their white-sand beaches and palm lined shorelines along with one of the greatest underwater biodiversity housing corals and sea dwellers. </h3> 
  
  <!-- <h3>Famous historian James Tad named this state as Raithan or Rajasthan in "Annals and Antiquities of Rajasthan"</h3> -->
  <br><br><br>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <!-- <a href="C:\Django Files\Django\Jaisalmer-Fort.webp" target="_blank"> -->
          <img src="C:\Django Files\Django\ross and smith.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <h1>Ross & Smith Island</h1>
            <p>The natural sandbar that connects the two islands is a unique and memorable feature of Ross and Smith Islands and is worth taking a walk across.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
       
          <img src="C:\Django Files\Django\panchvati island.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <h1>Panchvati Island</h1>
            <p>A gorgeous place showcasing natural beauty at its best, Panchavati Hills is located in the beautiful island of Rangat in the Andaman and Nicobar Islands. </p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <!-- <a href="/w3images/fjords.jpg" target="_blank"> -->
          <img src="C:\Django Files\Django\BIland.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h1>Baratang Island</h1>
            <p>Baratang is famous for its natural wonders; from impressive Limestone Caves and dense mangrove creeks</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
{% include 'footer.html' %}